{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yes, Daddy!{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/fav.png' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>
<body class="bg-black" data-user-name="{% if user.is_authenticated %}{{ user.username }}{% else %}None{% endif %}">
    <div class="relative h-screen overflow-hidden">
        <!-- Main scroll container -->

            <!-- Floating Search Bar with Suggestions -->
            <div class="fixed top-4 left-1/2 transform -translate-x-1/2 w-11/12 md:w-1/2 z-50">
            <!-- Search Input -->
             
            <div class="backdrop-blur-md bg-white/30 rounded-full shadow-lg flex items-center px-4 py-2">
                  <button onclick="window.location.href='{% url 'index' %}'" class="p-1 rounded-full hover:bg-white/0 transition">
                    <i class="fas fa-home text-gray-300"></i>
                </button> <span class="text-gray-600"> |</span>

                <input 
                id="floatingSearch" 
                type="text" 
                placeholder="Search stuff..." 
                class="flex-1 bg-transparent bg-gray-800 focus:outline-none ml-2 text-gray-300 placeholder-gray-300"
                autocomplete="off"
                />
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1010.5 3a7.5 7.5 0 006.15 13.65z" />
                </svg>
            </div>

            <!-- Suggestions Box -->
            <div id="searchSuggestions" class="mt-1 backdrop-blur-md bg-white/80 rounded-lg shadow-lg hidden max-h-64 overflow-y-auto">
                <!-- Suggestions will be injected here dynamically -->
            </div>
            </div>
        {% block content %}

        {% endblock %}
        
        <!-- Bottom navigation -->
        <div class="absolute bottom-0 left-0 right-0 flex justify-around items-center py-4 bg-gradient-to-t from-black to-transparent z-10">



        <button 
            class="relative text-white flex flex-col items-center"
            onclick="window.location.href='{% url 'inbox' %}'"
        >
            <!-- ICON -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 
                    0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 
                    .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
            </svg>

            <!-- LABEL -->
            <span class="text-xs mt-1">Inbox</span>

            {% if notificates > 0 %}
            <!-- BADGE -->
            <span 
            id="notification-badge"
                class="absolute -top-1 -right-1 bg-red-500 text-white rounded-full 
                    w-4 h-4 flex items-center justify-center text-[10px] font-semibold shadow-lg"
            >
            
                {{ notificates }}
            </span>
            {% endif %}
        </button>


            <!-- Trigger button -->
            <button  onclick="window.location.href='{% url 'create_joke' %}'" class="text-white flex flex-col items-center">
            <div class="bg-white rounded-full p-2 -mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
            </div>
            </button>



            <button class="text-white flex flex-col items-center" onclick="window.location.href='{% if user.is_authenticated %}{% url 'profile' user.id %}{% else %}{% url 'login' %}{% endif %}'">
                {% if user.is_authenticated %}
                    {% if user.profile_picture %}
                    <img 
                        src="{{ user.profile_picture.url }}" 
                        alt="{{ user.username }}'s avatar" 
                        class="w-10 h-10 rounded-full object-cover border-2 border-white shadow-md"
                    />

                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    {% endif %}
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>
                {% endif %}
                <span class="text-xs mt-1">Profile</span>
            </button>
        </div>

    </div>
    {% block scripts %}
    {% endblock %}
    {% for message in messages %}
    <script>
        Toastify({
            text: "{{ message }}",
            duration: 5000,
            close: true,
            gravity: "top",
            position: "right",
            backgroundColor: "{% if message.tags == 'error' %}#FF4C4C{% else %}#000000{% endif %}",
            stopOnFocus: true,
        }).showToast();
    </script>
    {% endfor %}

    {% comment %} <audio id="joke-audio" autoplay loop hidden></audio> {% endcomment %}
    <audio id="joke-audio" autoplay="true" hidden="true" loop="true"></audio>

</body>
</html>